* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    /* height: 100%; */

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.sidebar {
    border: 1px solid red;
    background-color: rgb(120, 179, 225);
    color: white;

    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    gap: 20px;

}

.sidebar > * {
    border: 1px solid yellow;
}

.dashboard-icon {
    height: 1.6em;
    padding: 0 0.6em;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-icon {
    height: 0.8em;
    padding: 0 0.6em;
}


.header {
    border: 1px solid green;

    grid-column: 2 / 4;
    grid-row: 1 / 2;

}

.projects {
    border: 1px solid yellow;
    background-color: rgb(222, 220, 220);

    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.announcements {
    border: 1px solid black;
    background-color: rgb(222, 220, 220);

    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.trending {
    border: 1px solid blue;
    background-color: rgb(222, 220, 220);

    grid-column: 3 / 4;
    grid-row: 3 / 4;
}



