* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color-theme : rgb(78, 160, 222);
    --color-card: rgb(248, 248, 225);
    --color-graybg: rgb(225, 230, 235);;
}

body {
    width: 100vw;
    height: 100vh;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    /* height: 100%; */

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.sidebar {
    border: 1px solid red;
    background-color: var(--color-theme);
    color: white;

    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    gap: 20px;

}

.sidebar > * {
    border: 1px solid yellow;
}

.dashboard-icon {
    height: 1.6em;
    padding: 0 0.6em;
    filter: invert(1);
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-icon {
    height: 0.8em;
    padding: 0 0.6em;
    filter: invert(1);
}


.header {
    border: 1px solid green;
    background-color: var(--color-card);

    grid-column: 2 / 4;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 3fr 2fr;
}

.search-bar {
    border: 1px solid red; 

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    /* gap: 1em; */
}

.search-input {
    flex: 1;

    border: 0;
    background-color: var(--color-graybg);    
    border-radius: 0.5em;
}

.header-icon {
    height: 0.8em;
    padding: 0 0.6em;
    /* filter: invert(1); */
}

.greeting {
    border: 1px solid orange; 

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    gap: 1em;

}

.greeting-avatar {
    height: 2.5em;
}

.user {
    border: 1px solid purple; 

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5em;
}

.user-avatar {
    height: 1.5em;
}

.header-nav {
    border: 1px solid cyan; 
    
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8em;
}

.header-btn {
    background-color: var(--color-theme);
    color:white;
    border: 0;
    border-radius: 1em;
    padding: 0.5em 1em;
}


.projects {
    border: 1px solid yellow;
    background-color: var(--color-graybg);
    padding: 1.5em 0.7em;

    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.projects > h4 {
    margin-bottom: 0.6em;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: var(--color-card);
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 255, .2);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-text {
    display: flex;
    flex-direction: column;
}

.project-card p {
    font-size: 0.6em;
}

.project-icons {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.announcements {
    border: 1px solid black;
    background-color: var(--color-graybg);

    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.trending {
    border: 1px solid blue;
    background-color: var(--color-graybg);

    grid-column: 3 / 4;
    grid-row: 3 / 4;
}



